body {
    color: #777;
    background: url("../images/background.png");
    text-align: center;
}

img {
    margin-right: 8px;
    margin-left: 8px
}

.textBox {
    background: #F5F8F9;
    opacity: .65;
}

h3 {
    border-bottom: solid .5px #444;
}

#yourScore {
    margin-left: 15px;
    margin-right: 15px;
}

#footer {
    margin-top: 35%;
    opacity: .5;
}
